.btn-add {
  backdrop-filter: blur(10px);
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 25%;
  color: white;
  background-color: rgb(23, 97, 236);
}

.btn-add:hover {
  color: rgb(23, 97, 236);
}