.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-inline: 30px;
  height: 100%;
  padding-block: 30px;
  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__info {
    align-items: center;
    display: flex;
    gap: 10px;
  }
  &__logo {
    width: 20px;
    height: 20px;
  }
  &__title {
    font-size: 1.6rem;
    text-transform: uppercase;
  }
  &__technologies {
    display: flex;
    gap: 5px
  }
}

.btn {
  border: none;
  height: 40px;
  width: auto;
  & svg {
    height: 100%;
    width: auto;
  }
}

.btn--filter {
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
}

@media (width >= 350px) {
  .main {
    padding-inline: 50px;
    padding-block: 50px;
    &__logo {
      width: 30px;
      height: 30px;
    }
    &__title {
      font-size: 2rem;
    }
  }
}

@media (width >= 400px) {
  .main {
    max-width: 700px;
    gap: 40px;
    &__logo {
      width: 40px;
      height: 40px;
    }
    &__title {
      font-size: 2.5rem;
    }
  }
}

@media (width >= 450px) {
  .btn--filter {
    padding: 5px 10px;
    font-size: 1.4rem;
    border-radius: 5px;
  }
}