.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding-inline: 30px;
  height: 100%;
  padding-block: 30px;
  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__info {
    align-items: center;
    display: flex;
    gap: 10px;
  }
  &__logo {
    width: 20px;
    height: 20px;
  }
  &__title {
    font-size: 1.6rem;
    text-transform: uppercase;
  }
  &__technologies {
    display: flex;
    gap: 5px
  }
}

.btn {
  border: none;
  height: 40px;
  width: auto;
  & svg {
    height: 100%;
    width: auto;
  }
}

.btn--filter {
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}